<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


  <style>
    /* Personalizza lo stile della navbar */
    .navbar {
        background-color: #f8f9fa;
    }
    .navbar-brand {
        font-weight: bold;
        color: #333;
    }
    .navbar-nav .nav-link {
        color: #333;
    }
    .navbar-nav .nav-link:hover {
        color: #000;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">Logo</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="caricaTabellaClienti()">Clienti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="caricaTabellaArticoli()">Apparati</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="caricaTabellaAssistenza()">Laboratori assistenza</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Tabella dei contenuti -->
<div class="mt-5" id="tabellaContainer"></div>

<script src="/main.js"></script> <!-- Includi il file JavaScript principale -->

<!-- Bootstrap JS Bundle con jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
